div{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    animation-name:example;
    animation-duration:4s;
}
@keyframes example {
   from{background-color: red;}
   to{background-color: blue;}
}